<h1>character info</h1>
<div>
  <label>Name: </label>
  <span>{{ selectedCharacter?.name }} </span>
</div>
<ng-container *ngIf="selectedCharacter">
  <div>
    <label>Species: </label>
    <sw-info-item [links]="selectedCharacter?.species" paramName="name"></sw-info-item>
  </div>
  <div>
    <label>Movies: </label>
    <sw-info-item [links]="selectedCharacter?.films" paramName="title"></sw-info-item>
  </div>
  <div>
    <label>Spaceships: </label>
    <sw-info-item [links]="selectedCharacter?.starships" paramName="name"></sw-info-item>
  </div>
</ng-container>

<button (click)="openCharactersPage()">show characters</button>
